body{
margin: 0px;
color: green;
background-color:  #ffffff;
font-family: din condensed;
}

h1 {
font-family: din condensed;
font-size: 36px;
color: #ffffff;
}

h2 {
font-family: din condensed;
color: #333333;
}

h3 {
font-family: helvetica neue;
color: #333333;
}

p {
font-family: helvetica neue;
font-size: 16px;
line-height: 20px;
color: #333333;
}

a{
	color: red;

}

a:hover{
	color: green;
	transition: 1s ease;
}


p:hover{
	color: green;
}

img{
	width: 100px;
}

.picto{
	width: 50px
}

#header{
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
	background-image: url('Images/BANNER_1.jpg');
	background-size: cover;	

}

#footer{
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
}


